<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">实例1：基础表格实例</h3>
        </div>
        <div class="panel-body">
          <table class="table">
            <thead>
              <tr>
                <th>表格标题</th>
                <th>表格标题</th>
                <th>表格标题</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>表格单元格</td>
                <td>表格单元格</td>
                <td>表格单元格</td>
              </tr>
              <tr>
                <td>表格单元格</td>
                <td>表格单元格</td>
                <td>表格单元格</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">实例2：斑马线表格实例</h3>
        </div>
        <div class="panel-body">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>表格标题</th>
                <th>表格标题</th>
                <th>表格标题</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>表格单元格</td>
                <td>表格单元格</td>
                <td>表格单元格</td>
              </tr>
              <tr>
                <td>表格单元格</td>
                <td>表格单元格</td>
                <td>表格单元格</td>
              </tr>
              <tr>
                <td>表格单元格</td>
                <td>表格单元格</td>
                <td>表格单元格</td>
              </tr>
              <tr>
                <td>表格单元格</td>
                <td>表格单元格</td>
                <td>表格单元格</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">实例3：带边框的表格实例</h3>
        </div>
        <div class="panel-body">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>表格标题</th>
                <th>表格标题</th>
                <th>表格标题</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>表格单元格</td>
                <td>表格单元格</td>
                <td>表格单元格</td>
              </tr>
              <tr>
                <td>表格单元格</td>
                <td>表格单元格</td>
                <td>表格单元格</td>
              </tr>
              <tr>
                <td>表格单元格</td>
                <td>表格单元格</td>
                <td>表格单元格</td>
              </tr>
              <tr>
                <td>表格单元格</td>
                <td>表格单元格</td>
                <td>表格单元格</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">实例4：鼠标悬浮高亮表格实例</h3>
        </div>
        <div class="panel-body">
          <table class="table table-striped table-bordered table-hover">
            <thead>
              <tr>
                <th>表格标题</th>
                <th>表格标题</th>
                <th>表格标题</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>表格单元格</td>
                <td>表格单元格</td>
                <td>表格单元格</td>
              </tr>
              <tr>
                <td>表格单元格</td>
                <td>表格单元格</td>
                <td>表格单元格</td>
              </tr>
              <tr>
                <td>表格单元格</td>
                <td>表格单元格</td>
                <td>表格单元格</td>
              </tr>
              <tr>
                <td>表格单元格</td>
                <td>表格单元格</td>
                <td>表格单元格</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">实例5：紧凑型表格实例</h3>
        </div>
        <div class="panel-body">
          <table class="table table-condensed">
            <thead>
              <tr>
                <th>表格标题</th>
                <th>表格标题</th>
                <th>表格标题</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>表格单元格</td>
                <td>表格单元格</td>
                <td>表格单元格</td>
              </tr>
              <tr>
                <td>表格单元格</td>
                <td>表格单元格</td>
                <td>表格单元格</td>
              </tr>
              <tr>
                <td>表格单元格</td>
                <td>表格单元格</td>
                <td>表格单元格</td>
              </tr>
              <tr>
                <td>表格单元格</td>
                <td>表格单元格</td>
                <td>表格单元格</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">实例6：响应式表格实例</h3>
        </div>
        <div class="panel-body">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>表格标题</th>
                <th>表格标题</th>
                <th>表格标题</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>表格单元格</td>
                <td>表格单元格</td>
                <td>表格单元格</td>
              </tr>
              <tr>
                <td>表格单元格</td>
                <td>表格单元格</td>
                <td>表格单元格</td>
              </tr>
              <tr>
                <td>表格单元格</td>
                <td>表格单元格</td>
                <td>表格单元格</td>
              </tr>
              <tr>
                <td>表格单元格</td>
                <td>表格单元格</td>
                <td>表格单元格</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">实例7：表格行的类</h3>
        </div>
        <div class="panel-body">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>类名</th>
                <th>描述</th>
              </tr>
            </thead>
            <tbody>
              <tr class="active">
                <td>.active</td>
                <td>表示当前活动的信息</td>
              </tr>
              <tr class="success">
                <td>.success</td>
                <td>表示成功或者正确的行为</td>
              </tr>
              <tr class="info">
                <td>.info</td>
                <td>表示中立的信息或行为</td>
              </tr>
              <tr class="warning">
                <td>.warning</td>
                <td>表示警告，需要特别注意</td>
              </tr>
              <tr class="danger">
                <td>.danger</td>
                <td>表示危险或者可能是错误的行为</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
