<div class="container-fluid">
  <div class="row">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">实例1：标题</h3>
      </div>
      <div class="panel-body">
        <div class="col-md-12">
          <h1>h1. Bootstrap heading <small>Secondary text</small></h1>
          <h2>h2. Bootstrap heading <small>Secondary text</small></h2>
          <h3>h3. Bootstrap heading <small>Secondary text</small></h3>
          <h4>h4. Bootstrap heading <small>Secondary text</small></h4>
          <h5>h5. Bootstrap heading <small>Secondary text</small></h5>
          <h6>h6. Bootstrap heading <small>Secondary text</small></h6>
        </div>
      </div>
      <div class="panel-footer">
        <code>&lt;h1&gt;</code>h1. Bootstrap heading <code>&lt;small&gt;</code>Secondary text<code>&lt;/small&gt;</code><code>&lt;/h1&gt;</code>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">实例2：页面主体</h3>
      </div>
      <div class="panel-body">
        <div class="col-md-12">
          <p>一小段內容<p>
        </div>
      </div>
      <div class="panel-footer">
        <code>&lt;p&gt;</code>...<code>&lt;p&gt;</code>
      </div>
    </div>
  </div>
</div>
